<ul>
<div id="comments_list">
  <% if @comments.any? %>
    <% @comments.each do |comment| %>
      <li><i><%= comment.comment %></i><br>
      Posted by: <%= comment.user_email %></li>
    <% end %>
</div>
</ul>
  <% else %>
    <p>There are no comments on this blog.</p>
  <% end %>

<%= link_to "Add a new comment", new_blog_comment_path(@blog), id: "new_blog_comment", remote: true %>
