<h1>Steve's Portfolio</h1>

<h3>Personal Information</h3>
<ul>
  <li>Phone: 928-451-4148</li>
  <li>Email: steve.schneider99@gmail.com</li>
  <li>Current City: Portland, OR</li>
  <li><a href="https://github.com/steve-schneider99">Github Profile</a></li>
</ul>

<h3>Steve's Skills</h3>
<h4>Click on a skill to see my associated projects</h4>
<ul>
  <% @skills.each do |skill| %>
    <li><%= link_to skill.name, skill_path(skill)%></li>
    <% end %>
</ul>


<% if current_user == nil %>
<% else %>  
  <% if  current_user.email == "steve.schneider99@gmail.com" %>
    <%= link_to "Add a new skill", new_skill_path %>
  <% end %>
<% end %>


<%= render 'blogs/index' %>
